.App {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/534590/pexels-photo-534590.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
}

.title {
  color: rgb(56, 248, 8);
  font-size: 60px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tank {
  font-family: 'Girassol', cursive;
  background-image: url(https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  border: 10px solid transparent;
            padding: 10px;
            border-image-source: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            border-image-repeat: round;
            border-image-slice: 30;
            border-image-width: 25px;
}

.tankName {
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.grave {
  font-family: 'Girassol', cursive;
  background-color: black;
  background-repeat: no-repeat;
  border: 10px solid transparent;
            padding: 10px;
            border-image-source: url(https://images.pexels.com/photos/414765/pexels-photo-414765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            border-image-repeat: round;
            border-image-slice: 30;
            border-image-width: 25px;
}

.graveName {
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}




